parallelism = 2

[algorithm]
type = "dijkstra"

[graph]
vertex_list_input_file = "vertices-compass.csv.gz"
edge_list = { input_file = "edges-compass.csv.gz" }

# based on 65.5 cents per mile 2023 IRS mileage rate
[cost.vehicle_rates.trip_distance]
type = "distance"
factor = 0.655
unit = "miles"

# based on $20/hr approximation of 2023 median hourly wages
[cost.vehicle_rates.trip_time]
type = "time"
factor = 0.333336
unit = "minutes"

# based on $0.50/kWh approximation of DCFC charge rates
[cost.vehicle_rates.trip_energy_electric]
type = "energy"
factor = 0.50
unit = "kwh"

[mapping]
type = "edge"
geometry.input_file = "edges-geometries-enumerated.txt.gz"
tolerance.distance = 15.0
tolerance.unit = "meters"
queries_without_destinations = false
matching_type = ["point", "vertex_id", "edge_id"]

[plugin]
input_plugins = [
    { type = "grid_search" },
    { type = "load_balancer", weight_heuristic = { type = "haversine" } },
]
output_plugins = [
    { type = "summary" },
    { type = "traversal", route = "geo_json", geometry_input_file = "edges-geometries-enumerated.txt.gz" },
]

[label]
type = "soc"
[label.soc_label_config]
type = "percent_range"
start = 0
end = 100
step = 1

# Used for restricting travel after the battery is depleted.
[search]
[search.constraint]
type = "battery"

[search.traversal]
type = "combined"

[[search.traversal.models]]
type = "distance"
distance_unit = "miles"

[[search.traversal.models]]
type = "elevation"
distance_unit = "feet"

[[search.traversal.models]]
type = "speed"
speed_table_input_file = "edges-posted-speed-enumerated.txt.gz"
speed_unit = "kph"

[[search.traversal.models]]
type = "time"
time_unit = "minutes"

[[search.traversal.models]]
type = "turn_delay"
edge_heading_input_file = "edges-headings-enumerated.csv.gz"
[search.traversal.models.turn_delay_model]
type = "tabular_discrete"
time_unit = "seconds"
[search.traversal.models.turn_delay_model.table]
no_turn = 0.0
slight_right = 0.5
right = 1.0
sharp_right = 1.5
slight_left = 1.0
left = 2.5
sharp_left = 3.5
u_turn = 9.5

[[search.traversal.models]]
type = "simple_charging"
charging_station_input_file = "charging-stations.csv.gz"
vertex_input_file = "vertices-compass.csv.gz"

[[search.traversal.models]]
type = "grade"
grade_unit = "decimal"
grade_input_file = "edges-grade-enumerated.txt.gz"
[[search.traversal.models]]
type = "energy"
[[search.traversal.models.vehicles]]
name = "2016_TOYOTA_Camry_4cyl_2WD"
type = "ice"
model_input_file = "models/2016_TOYOTA_Camry_4cyl_2WD.bin"
distance_unit = "miles"
energy_rate_unit = "gallons gasoline/mile"
real_world_energy_adjustment = 1.166
input_features = [
    { type = "speed", name = "edge_speed", unit = "mph" },
    { type = "ratio", name = "edge_grade", unit = "percent" },
]

[search.traversal.models.vehicles.model_type]
interpolate.underlying_model_type = "smartcore"
interpolate.feature_bounds.edge_speed.lower_bound = 0
interpolate.feature_bounds.edge_speed.upper_bound = 100
interpolate.feature_bounds.edge_speed.num_bins = 101
interpolate.feature_bounds.edge_grade.lower_bound = -20
interpolate.feature_bounds.edge_grade.upper_bound = 20
interpolate.feature_bounds.edge_grade.num_bins = 41

[[search.traversal.models.vehicles]]
name = "2017_CHEVROLET_Bolt"
type = "bev"
model_input_file = "models/2017_CHEVROLET_Bolt.bin"
distance_unit = "miles"
energy_rate_unit = "kWh/mile"
battery_capacity = 60
battery_capacity_unit = "kilowatt_hours"
charging_station_input_file = "charging-stations.csv.gz"
real_world_energy_adjustment = 1.3958
input_features = [
    { type = "speed", name = "edge_speed", unit = "mph" },
    { type = "ratio", name = "edge_grade", unit = "percent" },
]

[search.traversal.models.vehicles.model_type]
interpolate.underlying_model_type = "smartcore"
interpolate.feature_bounds.edge_speed.lower_bound = 0
interpolate.feature_bounds.edge_speed.upper_bound = 100
interpolate.feature_bounds.edge_speed.num_bins = 101
interpolate.feature_bounds.edge_grade.lower_bound = -20
interpolate.feature_bounds.edge_grade.upper_bound = 20
interpolate.feature_bounds.edge_grade.num_bins = 41

[[search.traversal.models.vehicles]]
type = "phev"
name = "2016_CHEVROLET_Volt"
battery_capacity = 12
battery_capacity_unit = "kilowatt_hours"

[search.traversal.models.vehicles.charge_depleting]
name = "2016_CHEVROLET_Volt_Charge_Depleting"
model_input_file = "models/2016_CHEVROLET_Volt_Charge_Depleting.bin"
distance_unit = "miles"
energy_rate_unit = "kWh/mile"
real_world_energy_adjustment = 1.3958
input_features = [
    { type = "speed", name = "edge_speed", unit = "mph" },
    { type = "ratio", name = "edge_grade", unit = "percent" },
]

[search.traversal.models.vehicles.charge_depleting.model_type]
interpolate.underlying_model_type = "smartcore"
interpolate.feature_bounds.edge_speed.lower_bound = 0
interpolate.feature_bounds.edge_speed.upper_bound = 100
interpolate.feature_bounds.edge_speed.num_bins = 101
interpolate.feature_bounds.edge_grade.lower_bound = -20
interpolate.feature_bounds.edge_grade.upper_bound = 20
interpolate.feature_bounds.edge_grade.num_bins = 41

[search.traversal.models.vehicles.charge_sustaining]
name = "2016_CHEVROLET_Volt_Charge_Sustaining"
model_input_file = "models/2016_CHEVROLET_Volt_Charge_Sustaining.bin"
distance_unit = "miles"
energy_rate_unit = "gallons gasoline/mile"
real_world_energy_adjustment = 1.1252
input_features = [
    { type = "speed", name = "edge_speed", unit = "mph" },
    { type = "ratio", name = "edge_grade", unit = "percent" },
]

[search.traversal.models.vehicles.charge_sustaining.model_type]
interpolate.underlying_model_type = "smartcore"
interpolate.feature_bounds.edge_speed.lower_bound = 0
interpolate.feature_bounds.edge_speed.upper_bound = 100
interpolate.feature_bounds.edge_speed.num_bins = 101
interpolate.feature_bounds.edge_grade.lower_bound = -20
interpolate.feature_bounds.edge_grade.upper_bound = 20
interpolate.feature_bounds.edge_grade.num_bins = 41
