parallelism = 2

[graph]
vertex_list_input_file = "vertices-compass.csv.gz"

[mapping]
type = "edge"
queries_without_destinations = false
matching_type = ["point", "vertex_id", "edge_id"]

[plugin]
[[plugin.input_plugins]]
type = "grid_search"

[[plugin.input_plugins]]
type = "load_balancer"

[plugin.input_plugins.weight_heuristic]
type = "haversine"
[[plugin.output_plugins]]
type = "summary"

[[plugin.output_plugins]]
type = "traversal"
route = "geo_json"
geometry_input_file = "edges-geometries-enumerated.txt.gz"

[graph.edge_list]
input_file = "edges-compass.csv.gz"

[mapping.geometry]
input_file = "edges-geometries-enumerated.txt.gz"

[mapping.tolerance]
distance = 15.0
unit = "meters"

[search.constraint]
type = "battery"

[search.traversal]
type = "combined"
[[search.traversal.models]]
type = "distance"
distance_unit = "miles"

[[search.traversal.models]]
type = "speed"
speed_table_input_file = "edges-posted-speed-enumerated.txt.gz"
speed_unit = "kph"

[[search.traversal.models]]
type = "time"
time_unit = "minutes"

[[search.traversal.models]]
type = "turn_delay"
edge_heading_input_file = "edges-headings-enumerated.csv.gz"

[search.traversal.models.turn_delay_model]
type = "tabular_discrete"
time_unit = "seconds"
[search.traversal.models.turn_delay_model.table]
no_turn = 0.0
slight_right = 0.5
right = 1.0
sharp_right = 1.5
slight_left = 1.0
left = 2.5
sharp_left = 3.5
u_turn = 9.5
[[search.traversal.models]]
type = "grade"
grade_unit = "decimal"
grade_input_file = "edges-grade-enumerated.txt.gz"

[[search.traversal.models]]
type = "elevation"
distance_unit = "feet"

[[search.traversal.models]]
type = "energy"
vehicle_input_files = [
    "vehicles/2010_Mazda_3_i-Stop.json",
    "vehicles/2012_Ford_Focus.json",
    "vehicles/2012_Ford_Fusion.json",
    "vehicles/2016_AUDI_A3_4cyl_2WD.json",
    "vehicles/2016_BMW_328d_4cyl_2WD.json",
    "vehicles/2016_CHEVROLET_Malibu_4cyl_2WD.json",
    "vehicles/2016_CHEVROLET_Spark_EV.json",
    "vehicles/2016_FORD_C-MAX_HEV.json",
    "vehicles/2016_FORD_Escape_4cyl_2WD.json",
    "vehicles/2016_FORD_Explorer_4cyl_2WD.json",
    "vehicles/2016_HYUNDAI_Elantra_4cyl_2WD.json",
    "vehicles/2016_KIA_Optima_Hybrid.json",
    "vehicles/2016_Leaf_24_kWh.json",
    "vehicles/2016_MITSUBISHI_i-MiEV.json",
    "vehicles/2016_Nissan_Leaf_30_kWh.json",
    "vehicles/2016_TESLA_Model_S60_2WD.json",
    "vehicles/2016_TOYOTA_Camry_4cyl_2WD.json",
    "vehicles/2016_TOYOTA_Corolla_4cyl_2WD.json",
    "vehicles/2016_TOYOTA_Highlander_Hybrid.json",
    "vehicles/2016_Toyota_Prius_Two_FWD.json",
    "vehicles/2017_CHEVROLET_Bolt.json",
    "vehicles/2017_Maruti_Dzire_VDI.json",
    "vehicles/2017_Toyota_Highlander_3.5_L.json",
    "vehicles/2020_Chevrolet_Colorado_2WD_Diesel.json",
    "vehicles/2020_VW_Golf_1.5TSI.json",
    "vehicles/2020_VW_Golf_2.0TDI.json",
    "vehicles/2021_Fiat_Panda_Mild_Hybrid.json",
    "vehicles/2021_Honda_N-Box_G.json",
    "vehicles/2021_BMW_iX_xDrive40.json",
    "vehicles/2021_Cupra_Born.json",
    "vehicles/2021_Peugot_3008.json",
    "vehicles/2022_Ford_F-150_Lightning_4WD.json",
    "vehicles/2022_MINI_Cooper_SE_Hardtop_2_door.json",
    "vehicles/2022_Renault_Megane_E-Tech.json",
    "vehicles/2022_Renault_Zoe_ZE50_R135.json",
    "vehicles/2022_Toyota_Avanza_E_J_MT.json",
    "vehicles/2022_Toyota_RAV4_Hybrid_LE.json",
    "vehicles/2022_Tesla_Model_3_RWD.json",
    "vehicles/2022_Tesla_Model_Y_RWD.json",
    "vehicles/2022_Toyota_Yaris_Hybrid_Mid.json",
    "vehicles/2022_Volvo_XC40_Recharge_twin.json",
    "vehicles/2023_Mitsubishi_Pajero_Sport.json",
    "vehicles/2023_Polestar_2_Long_range_Dual_motor.json",
    "vehicles/2023_Volvo_C40_Recharge.json",
    "vehicles/2024_BYD_Dolphin_Active.json",
    "vehicles/2024_VinFast_VF_e34.json",
    "vehicles/2024_Volkswagen_Polo_1.0_MPI.json",
    "vehicles/BYD_ATTO_3.json",
    "vehicles/Maruti_Swift_4cyl_2WD.json",
    "vehicles/Nissan_Navara.json",
    "vehicles/Renault_Clio_IV_diesel.json",
    "vehicles/Renault_Megane_1.5_dCi_Authentique.json",
    "vehicles/Toyota_Corolla_Cross_Hybrid.json",
    "vehicles/Toyota_Etios_Liva_diesel.json",
    "vehicles/Toyota_Hilux_Double_Cab_4WD.json",
    "vehicles/2024_Toyota_Vios_1.5_G.json",
    "vehicles/2016_BMW_i3_REx_PHEV.json",
    "vehicles/2016_CHEVROLET_Volt.json",
    "vehicles/2016_FORD_C-MAX_(PHEV).json",
    "vehicles/2016_HYUNDAI_Sonata_PHEV.json",
    "vehicles/2017_Prius_Prime.json",
    "vehicles/Daycab_new_300kW.json",
    "vehicles/Daycab_new_400kW.json",
    "vehicles/Daycab_old_300kW.json",
    "vehicles/Daycab_old_400kW.json",
    "vehicles/Sleeper_new_300kW.json",
    "vehicles/Sleeper_new_400kW.json",
    "vehicles/Sleeper_old_300kW.json",
    "vehicles/Sleeper_old_400kW.json",
]

[cost.vehicle_rates.trip_distance]
type = "distance"
factor = 0.655
unit = "miles"

[cost.vehicle_rates.trip_time]
type = "time"
factor = 0.333336
unit = "minutes"

[cost.vehicle_rates.trip_energy_liquid]
type = "energy"
factor = 3.12
unit = "gge"

[cost.vehicle_rates.trip_energy_electric]
type = "energy"
factor = 0.5
unit = "kwh"
