parallelism = 2

[graph]
edge_list_input_file = "edges-compass.csv.gz"
vertex_list_input_file = "vertices-compass.csv.gz"
verbose = true

[mapping]
type = "edge"
geometry_input_file = "edges-geometries-enumerated.txt.gz"
tolerance.distance = 15.0
tolerance.unit = "meters"
queries_without_destinations = false
matching_type = ["point", "vertex_id", "edge_id"]

[traversal]
type = "distance"
distance_unit = "miles"

[access]
type = "turn_delay"
edge_heading_input_file = "edges-headings-enumerated.csv.gz"
[access.turn_delay_model]
type = "tabular_discrete"
time_unit = "seconds"
[access.turn_delay_model.table]
no_turn = 0.0
slight_right = 0.5
right = 1.0
sharp_right = 1.5
slight_left = 1.0
left = 2.5
sharp_left = 3.5
u_turn = 9.5

# based on 65.5 cents per mile 2023 IRS mileage rate, $/mile
[cost.vehicle_rates.trip_distance]
type = "factor"
factor = 0.655
[cost.weights]
trip_distance = 1

[plugin]
input_plugins = [
    { type = "grid_search" },
    { type = "load_balancer", weight_heuristic = { type = "haversine" } },
]
output_plugins = [
    { type = "summary" },
    { type = "traversal", route = "geo_json" },
]
