parallelism = 2

[graph]
edge_list_input_file = "edges-compass.csv.gz"
vertex_list_input_file = "vertices-compass.csv.gz"
verbose = true

[mapping]
type = "edge"
geometry_input_file = "edges-geometries-enumerated.txt.gz"
tolerance = [15.0, "meters"]
queries_without_destinations = false
mapping.map_input_type = ["point", "vertex", "edge"]

[traversal]
type = "speed_table"
speed_table_input_file = "edges-posted-speed-enumerated.txt.gz"
speed_unit = "kilometers_per_hour"
distance_unit = "miles"
time_unit = "minutes"

[access]
type = "turn_delay"
edge_heading_input_file = "edges-headings-enumerated.csv.gz"

[plugin]
[[plugin.input_plugins]]
type = "vertex_rtree"
distance_tolerance = 0.2
distance_unit = "kilometers"
vertices_input_file = "vertices-compass.csv.gz"

[[plugin.input_plugins]]
type = "grid_search"

[[plugin.input_plugins]]
type = "load_balancer"

[plugin.input_plugins.weight_heuristic]
type = "haversine"
[[plugin.output_plugins]]
type = "summary"

[[plugin.output_plugins]]
type = "traversal"
route = "geo_json"
geometry_input_file = "edges-geometries-enumerated.txt.gz"

[[plugin.output_plugins]]
type = "uuid"
uuid_input_file = "vertices-uuid-enumerated.txt.gz"

[access.turn_delay_model]
type = "tabular_discrete"
time_unit = "seconds"

[cost.weights]
distance = 1
time = 1

[access.turn_delay_model.table]
no_turn = 0.0
slight_right = 0.5
right = 1.0
sharp_right = 1.5
slight_left = 1.0
left = 2.5
sharp_left = 3.5
u_turn = 9.5

[cost.vehicle_rates.distance]
type = "factor"
factor = 0.655

[cost.vehicle_rates.time]
type = "factor"
factor = 0.333336
