[package]
name = "routee-compass-py"
version = "0.4.0"
edition = "2021"
readme = "README.md"
license = "BSD-3-Clause"
description = "Python bindings to the RouteE-Compass energy-aware routing engine"
homepage = "https://nrel.github.io/routee-compass"
repository = "https://github.com/NREL/routee-compass"
documentation = "https://docs.rs/routee-compass"

[dependencies]
routee-compass = { path = "../routee-compass", version = "0.4.0" }
pyo3 = { version = "0.20.0", features = ["extension-module"] }
serde_json = { workspace = true }
config = { workspace = true }

[lib]
name = "routee_compass_py"
crate-type = ["cdylib"]
