[workspace]
resolver = "2"
members = [
    "routee-compass-core",
    "routee-compass-powertrain",
    "routee-compass",
    "routee-compass-py",
    "routee-compass-macros"
]

[workspace.dependencies]
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0"
rayon = "1.7.0"
geo = { version = "0.27.0", features = ["use-serde"] }
geo-types = "0.7.12"
geojson = { version = "0.24.1" }
rstar = "0.11.0"
thiserror = "1.0.0"
flate2 = "1.0"
kdam = "0.5.0"
log = "0.4.19"
env_logger = "0.11"
csv = { version = "1.2.2" }
itertools = { version = "0.12.0" }
chrono = "0.4.26"
regex = "1.9.5"
wkt = { version = "0.10.3", features = ["serde"] }
config = "0.14"
ordered-float = { version = "4.1.1", features = ["serde"] }
allocative = "0.3.1"
indoc = "2"
