name: Test - Python

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  test:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    env:
      PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v6

      - name: set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install ".[all]"

      - name: Run mypy
        run: mypy .

      - name: Run linter
        run: |
          ruff check 

      - name: Run formatter
        run: |
          ruff format --check

      - name: Run tests
        run: |
          pytest python/tests
